.headhead{
    background-color: #29ABE2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.blogImg{
    height: 25rem;
}
.blogImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog h5{
    padding-top: 2rem ;
    padding-bottom: 2rem;
}

.blog .content{
    padding-bottom: 2rem;
}

.blogDetails .share{
    text-align: end;
    padding-bottom: 2rem;
}

.blogDetails .share .Partager{
    text-transform: capitalize;
    font-weight: 700;
    padding-left: 5px;
}
.blogDetails .share .Sicon{
    color: #aaa9a9;
    padding-left: 6px;
}

.blogDetails .comments{
     padding-bottom: 2rem;
}

.blogDetails .comments h4{
    font-weight: 700;
    padding-bottom: 1rem;
}


.blogDetails .comments .comment{
   display: flex;
 }
 
.blogDetails .comments .comment img{
   width: 4rem;
   height: 4rem;
   margin-right: 5px;
}

.blogDetails .comments .comment h5{
  font-weight:700;
}

.blogDetails .addcomment{
    padding-bottom: 8rem;
 }
 .blogDetails .addcomment h4{
    font-weight: 700;
 }

.blogDetails .addcomment .alertLogin{
  padding-bottom: 1rem;
 }
.blogDetails .addcomment .alertLogin span{
    background-color: #aaa9a9;
    padding: 0.4rem;
 }
 
.blogDetails .addcomment .WriteComment input{
  padding: 5px;
  width: 30rem;
}

@media (max-width: 400px) {
    .blogDetails .BlogcategoryName{
        padding-top:1rem ;
        padding-bottom: 1rem;
    }
    .alertLogin{
        font-size: 0.9rem;
    }

    .blogDetails .comments .comment .userImg{
        width: 3.5rem;
        height: 4rem;
        margin-right: 5px;
        font-size: 0.5rem;
     }
     
     
}
