.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.derniersblogs p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.derniersblogs a {
   text-decoration: none;
   background-color: #0071BC;
   color: #ffff;
   padding: 8px 13px;
   font-size: 0.7rem;
}

.derniersblogs a:hover {
    background-color: #ffff;
    color: #0071BC;
   
 }

 @media (max-width: 400px) {
    .dBlog{
        margin-bottom: 1rem;
    }
 }