#hideSidebar{
 
  display: none;
}
#hidbutton{
  display: none;
}



  .main-outlet-admindashboard{
    overflow-y: auto;
    max-height: calc(100vh - 5rem);
  }

  .dashboadContainer .admin {
    border-bottom: 2px solid #ececec;
    height: 5rem;
    padding: 1em;
    font-weight: 700;
  }
  
/* Hide scrollbar for Chrome, Safari and Opera */
.main-outlet-admindashboard::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-outlet-admindashboard {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
  .dashboadContainer .search-bar{
    height: 5rem;
    border-bottom: 2px solid #ececec;
  }

  .dashboadContainer ul {
    list-style: none;
    padding-left: 2px;
    padding-right: 7px;
  }
  
  .dashboadContainer ul li{
    border-radius: 6%;
    margin: 1em 0;
  }
  .dashboadContainer ul li a{
    display: block;
    text-decoration: none;
    background-color: #e7e7e7;
    padding: 1em 0.7em;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .dashboadContainer ul li a i{
     color: #838383;
     font-size: 1.3rem;
  }
  .dashboadContainer ul li a {
    display: flex;
 }

  .dashboadContainer ul li a span{
    color: #454545;
    margin-left: 5px;
 }
  
  .dashboadContainer ul li .link:hover{
    background-color: #d0d0d0;
  }


  .admindashlinks ul li  a.active{
    background-color: #d0d0d0;
  }  

  .admindashlinks ul li  a.active span{
    color: #000;
  }  
  .admindashlinks ul li  a.active i{
    color: #0160a0;
  }  


  .search-list span{
    margin-left: 1.5rem;
    color: #c2c2c2;
  }

  .myLogo{
    width: 40px;
    height: 40px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding: 2px;
  }

  .profile-drop button{
    color: #838383;
  }
 
  .sidebar{
    border-right: 2px solid #ececec;
    border-left: none;
    border-bottom: none;
    height: 100vh;
  }
  .collapseIcon {
    display: flex;
    align-items: center;
  }
  .collapseIcon button{
    border: none;
    background: transparent;
  }

  .collapseIcon i{
    font-size: 2rem;
    color: rgb(114, 114, 114);
  }


  @media (max-width: 400px){

    .dashboadContainer{
      position: relative;
    }
    .dashboadContainer .admindashlinks{
      position: absolute;
      z-index: 99;
      width: 15rem;
      background-color: #fff;
    }
  }

  @media (max-width: 900px){

    .dashboadContainer{
      position: relative;
    }
    .dashboadContainer .admindashlinks{
      position: absolute;
      z-index: 99;
      width: 15rem;
      background-color: #fff;
    }
  }